
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="https://cdn.meme.am/cache/instances/folder107/500x/65712107/i-know-kung-fu-i-know-nodejs.jpg" alt="there_is_no_java">
  </body>

  <form action="/logout" method="post">
        <button>Log Out</button>
      </form>
</html>
