<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="wrapper">
      <form action="login" method="POST">
        <div class="header">
          <span class="title">Please enter username and password :)</span>
        </div>
            <div class="choices">
              <input type="text" name="username" id="yes" placeholder="username" />
              <input type="password" name="password" id="no"  placeholder="password"/>
            </div>
          <button>Log me in.</button>
        </div>
      </form>
    </div>
  </body>
</html>
